# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.app

*~
*.gz
\#*
*.out
*.out.*
build/test
build/*.cmake

test/STELL/QPS/bfield/*.nc
test/STELL/QPS/bfield/*.dat
